@media only screen and (min-width: 750px) {
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: auto;
  }



  .navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    z-index: 10;
    color: #f1f1f1;
    font-size: 50px;
    margin-top: -0.25em;
  }

 
.responsive li {
  height: 165px;
}

  p {
    font-size: 35px;
  }

  p.intro-p {
    font-size: 40px;
  }



  .homepage-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }


  .unit-1,
  .unit-2,
  .unit-3,
  .unit-4 {
    width: 300px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    border-style: outset;
    border-color: rgb(136, 105, 58);
  }

  
  .expectation-section {
    font-size: 30px;
    padding: 1em;
  }

  .contact {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    display: block;
    font-size: 40px;
    padding-bottom: 2em;
  }

  .btn {
    font-size: 50px;
  }

  .navigation a {
    margin-top: -1.25em;
    color:black;
    font-size: 30px;
  }

}

@media only screen and (min-width: 1000px) {
  .responsive li {
    background-image: url("../images/closed-door.jpg");
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    background-size: cover;
    animation-name: menu, close;
    display: block;
    background-repeat: no-repeat;

  }

  .navigation a {
    margin-top: -1.25em;
    color:black;
    font-size: 30px;
  }
}