@{
    ViewData["Title"] = "Info Page";
}

<!DOCTYPE html>
<html lang="en">

</html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles/normalize.css">
    <link rel="stylesheet" href="./styles/small.css">
    <link rel="stylesheet" href="./styles/small-medium.css">
    <link rel="stylesheet" href="./styles/medium.css">
    <link rel="stylesheet" href="./styles/large.css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <title> Information </title>
    <!-- Home Page for B&M Storage-->

</head>

<body>
    <div class="parallax-home">

        <div class="header" id="myHeader">
            <section class="headings">
    
            <div class="sticky">
            <img class="Site-Logo" src="./images/Thinner Banner.jpg" alt="Logo of a Lock">
            </div>
                    <div id="myNav" class="overlay">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <div class="overlay-content">
                            <a  onclick="closeNav()">Menu</a>
                            <a href="./index.html">Home</a></li>
                            <a href="./info.html"> Info / Units</a></li>
                            <a class="active" href="./register.html">Register</a></li>
                        </div>
                    </div>
                </section>
    
            <div class="holder">
            <span class="main-menu-button" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
            </div>
        </div>
    


        <div class="content">
            <!--  A call to action to make a sign up for a unit  -->
            <div class="image-test"></div>

            <section class="call-to-action">
                <!-- Call To Action-->
                <section class="cta-img">
                    <p class="intro-p">
                        You won't beat our prices!
                    </p>
                    <p class="intro-p">
                        Get in a Unit Today!
                    </p>
                    <button onclick="clickContact()" class="btn">Contact Us!</button>
                </section>
            </section>


            <h2 class="information-h2">Operation Details</h2>
            <section class="info-sections">

                <section class="stormCenterMain">
                    <section class="info-1">
                        <section class="info">
                            <h3 class="information-h2">Rental Agreement</h3>
                            <li>Accounts are established on an Individual Basis</li>
                            <li>Payments are due at the first of the month</li>
                            <li>It is the responsibility of the tenant to update B&M Storage with any relevant change of information. (address, phone number, etc.)</li>
                            <li>There will be a 10$ charge if payment is not recieved by the 10th of the month</li>
                            <li>Tenants provide their own locks to ensure privacy</li>
                            <li>Maintenance Request are made to manager</li>
                            <li>Access Hours are from 6am-10pm</li>
                            <li>Gated Entry is provided for your security - Individual PIN code is provided per unit
                            </li>
                            <section>
                            </section>
                        </section>

                        <section class="info-2">
                            <image>
                                <section class="info">
                                    <h3 class="information-h2">Closing a Unit</h3>
                                    <li>Notice must be given before start of next payment period</li>
                                    <li>You must be up to date on payments</li>
                                    <li>All items must be removed from you unit</li>
                                </section>
                        </section>

                        <section class="info-3">
                            <image>
                                <section class="info">
                                    <h3 class="information-h2">Lockouts</h3>
                                    <li> Tenants will receive text or written notice as a warning of late payment</li>
                                    <li>If payment is still not recieved the unit may be subject to being locked by B&M
                                        Storage</li>
                                    <li>Without payment for an extended period of time the items in unit will be
                                        auctioned or thrown away. Tenant will reccieve a certified letter from B&M
                                        Storage of action taken and, if applicable, auction date.</li>
                                </section>
                        </section>

                    </section>

                    <!-- Expectations -->
                    <!-- Get acutal date when when Bart got set up -->
                </section>
                <!-- contact information  for the Storage Units -->
                <section class="contact" id="contact-section">
                    <h2 class="homepage-h2">Contact Infomration</h2>
                    <div class="article-box">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13710.626830452855!2d-111.6802692199318!3d40.05990860798941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6b6c439374501d1a!2sB%26M%20Storage!5e0!3m2!1sen!2sus!4v1579539677516!5m2!1sen!2sus"
                            width="75%" height="200" frameborder="0" style="border:10;" allowfullscreen=""></iframe>
                        <div class="contact-p">
                            <p> B&M Storage:</p>
                            <p> 310 N 100 E</p>
                            <p>Salem, UT 84653</p>
                            <span class="phone-number">&#9742; (801) 592-0211</span class="phone-number">
                            <a class="registration-link" href="./registration.html"> Registration</a>

                        </div>
                    </div>
                </section>

     
    <footer>
        <div class="footer">
            <p class='footer-text'>
                &copy; <span id="currentDate">
                    &star; B&M Storage
                </span>
            </p>
        </div>
    </footer>
</div>
</div>
    <script src="./scripts/main.js"></script>
    <script src="./scripts/clickContact.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>

</html>
